input {
    width: 100%;
    margin-top: 10px;
}

textarea {
    margin-top: 10px;
}

.contenerdor {
    text-align: center;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.contenedor-imagen {
    text-align: center;
}

footer {
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: white;
}

.formulario-box input[type="text"],
.formulario-box input[type="password"],
.formulario-box textarea {
    width: 100%;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.button {
    width: 80%;
    height: auto;
    border: none;
    border-radius: 5px;
    display: inline-block;
    padding: 8px 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #04AA6D;
    color: #ffffff;
}

.button-header {
    width: 80%;
    height: auto;
    border: none;
    border-radius: 5px;
    display: inline-block;
    padding: 8px 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: red;
    color: #ffffff;
}